.main-section{
    background-color: #707070;
    border-bottom: 10px solid #292929;
    padding-top: 50px;
    padding-bottom: 100px;
}

.main-section .main-title{
    margin-bottom: 60px;
}

.main-section.-project{
    background-color: #000;
}

.main-section .p-project{
    font-size: 30px;
    color: #fff;
}

.main-section .paragraph{
    text-align: justify;
}